@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --sky-cupcake: #e4f9f5;
  --sky-dark: #0b1a2a;
  --border-color-dark:#0000003d;
  --border-color-cupcake:#ffffffa6;
  --border-down-color:#7ee2d0;

}

[data-theme="dark"]  {
  --sky: var(--sky-dark);
  --border-circle: var(--border-color-dark);


}

[data-theme="cupcake"] {
  --sky: var(--sky-cupcake);
  --border-circle: var(--border-color-cupcake);

}
.reset-input{
    all: unset; /* Remove all default styles */
    border: none; /* Remove default border */
    outline: none; /* Remove outline when focused */
    background: none; /* Remove background */
    padding: 0; /* Reset padding */
    margin: 0; /* Reset margin */
    font-family: inherit; /* Inherit font from parent */
    font-size: inherit; /* Inherit font size */ 
    color: inherit; /* Inherit text color */
width: 100px;
}
.word-wrap{
  white-space: wrap;
  word-wrap: break-word;
}
.text-customblue{
  color: #65d8c3;
}
.text-customblue-dark{
  color:#65d8c3;
}
.max-w-400{
  max-width: 450px;
}
.bg-transparent-black{
  background: #00000009;
}
.loading-infinity-custom {
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='shape-rendering: auto;' width='200px' height='200px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E%3Cpath fill='none' stroke='%230a0a0a' stroke-width='10' stroke-dasharray='205.271142578125 51.317785644531256' d='M24.3 30C11.4 30 5 43.3 5 50s6.4 20 19.3 20c19.3 0 32.1-40 51.4-40 C88.6 30 95 43.3 95 50s-6.4 20-19.3 20C56.4 70 43.6 30 24.3 30z' stroke-linecap='round' style='transform:scale(0.8);transform-origin:50px 50px'%3E%3Canimate attributeName='stroke-dashoffset' repeatCount='indefinite' dur='.7s' keyTimes='0;1' values='0;256.58892822265625'%3E%3C/animate%3E%3C/path%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='shape-rendering: auto;' width='200px' height='200px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E%3Cpath fill='none' stroke='%230a0a0a' stroke-width='10' stroke-dasharray='205.271142578125 51.317785644531256' d='M24.3 30C11.4 30 5 43.3 5 50s6.4 20 19.3 20c19.3 0 32.1-40 51.4-40 C88.6 30 95 43.3 95 50s-6.4 20-19.3 20C56.4 70 43.6 30 24.3 30z' stroke-linecap='round' style='transform:scale(0.8);transform-origin:50px 50px'%3E%3Canimate attributeName='stroke-dashoffset' repeatCount='indefinite' dur='.7s' keyTimes='0;1' values='0;256.58892822265625'%3E%3C/animate%3E%3C/path%3E%3C/svg%3E");
}